@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
html,
body {
background-color: #8cc28a6b;
text-align: center;
font-family: 'Raleway', Helvetica, sans-serif;
min-width: 350px;
}

header {
font-size: 1.5em;
font-weight: bolder;
margin: 20px;
}

#form-outer {
background-color: rgba(57, 199, 204, 0.726);
margin: 0 auto;
border-radius: 4px;
width: 75%;
max-width: 900px;
padding: 10px;
padding-top: 20px;
}

.labels {
display: inline-block;
text-align: right;
width: 40%;
padding: 5px;
vertical-align: top;
margin-top: 10px;
}

.rightTab {
display: inline-block;
text-align: left;
width: 50%;
vertical-align: middle;
}

.input-field {
height: 20px;
width: 280px;
padding: 5px;
margin: 10px;
border: 1px solid #c0c0c0;
border-radius: 2px;
border-color: aqua;
}

#userAge {
width: 50px;
}

.userRatings,
input[type="checkbox"] {
float: left;
margin-right: 5px;
}

#submit {
background-color: #479e3fab;
border-radius: 4px;
color: black;
font-size: 1.2em;
height: 40px;
width: 100px;
margin: 12px;
border: 1px turquoise;
}

.dropdown {
height: 35px;
width: 140px;
padding: 5px;
margin: 10px;
margin-top: 15px;
border: 1px solid #24d6c7d8;
border-radius: 2px;
border-color: aqua;
}

.radio,
.checkbox {
position: relative;
left: -43px;
margin-left: 10px;
display: block;
padding-bottom: 10px;
}

@media screen and (max-width: 850px) {
.input-field {
    width: 80%;
}
select {
    width: 100%;
}
}

@media screen and (max-width: 550px) {
.labels {
    width: 100%;
    text-align: left;
}
.rightTab {
    width: 80%;
    float: left;
}
.input-field {
    width: 100%;
}
select {
    width: 100%;
}